#about {
  padding: 0;
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 1000px;
  background-repeat: no-repeat;
  background-position-x: center;
  background: #ffffff;
  background: linear-gradient(to Right, #ffffff, hsla(0, 0%, 100%, 0.219)), url(../img/fondo2.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerAbout {
  padding: 0;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.aparecer {
  animation: aparecer 1.2s ease-in;
  -webkit-animation: aparecer 1.2s ease-in;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(500px);
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
  }

  25% {
    opacity: 0.2;
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

.subContainerAbout {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subContainerAbout:nth-child(2) {
  background: #f3b1b1;
}

.contentAbout1 {
  height: 100%;
  width: 50%;
}

.rosa {
  height: 100%;
  width: 100%;
}

.contentAbout2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.name {
  font-size: 64px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  line-height: 66px;
}

.text {
  font-size: 18px;
  padding: 0 100px;
  line-height: 32px;
}

@media screen and (max-width:950px) {
  .name {
    font-size: 50px;
  }

  .text {
    padding: 0 60px;
    line-height: 24px;
    font-size: 17px;
  }

  .contentAbout2 {
    width: 50%;
  }
}

@media screen and (max-width:650px) {
  #about {
    height: 1200px;
  }

  .containerAbout {
    height: 1000px;
  }

  .subContainerAbout {
    height: 50%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .contentAbout1 {
    height: 50%;
    width: 80%;
  }

  .contentAbout2 {
    height: 50%;
    width: 80%;
  }

  .name {
    font-size: 34px;
    margin-bottom: 0px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px;
    margin: 10px 0;
  }

  .subContainerAbout:nth-child(2) {
    background: white;
  }
}

@media screen and (max-width:350px) {
  #about {
    height: 1100px;
  }

  .containerAbout {
    height: 1000px;
  }

  .name {
    font-size: 30px;
    line-height: 40px;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
    padding: 0 10px;
  }
}