#bidding {
  padding: 0;
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 1000px;
  background-repeat: no-repeat;
  background-position-x: center;
  background: #ffffff;
  background: linear-gradient(to Right, #ffffff, hsla(0, 0%, 100%, 0.219)), url(../img/fondo2.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBidding {
  padding: 0;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  justify-content: space-between;
}

.promotionsGallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 80%;
}

.card {
  cursor: pointer;
  width: 340px;
  background: transparent;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  -webkit-transition: transform 0.6s linear;
  -moz-transition: transform 0.6s linear;
  -ms-transition: transform 0.6s linear;
  -o-transition: transform 0.6s linear;
}

.front {
  transform: perspective(600px) rotateY(0deg);
  -webkit-transform: perspective(600px) rotateY(0deg);
  -moz-transform: perspective(600px) rotateY(0deg);
  -ms-transform: perspective(600px) rotateY(0deg);
  -o-transform: perspective(600px) rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffb6c1;
}

.back {
  background-color: white;
  background: linear-gradient(to Right, #ffffff, hsla(0, 0%, 100%, 0.774)), url(../img/fondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  transform: perspective(600px) rotateY(180deg);
  -webkit-transform: perspective(600px) rotateY(180deg);
  -moz-transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  -o-transform: perspective(600px) rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 40px;
}

.front h3 {
  color: black;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.back p {
  color: black;
  font-size: 22px;
}

.card:hover>.front {
  transform: perspective(600px) rotateY(-180deg);
  -webkit-transform: perspective(600px) rotateY(-180deg);
  -moz-transform: perspective(600px) rotateY(-180deg);
  -ms-transform: perspective(600px) rotateY(-180deg);
  -o-transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
  transform: perspective(600px) rotateY(0deg);
  -webkit-transform: perspective(600px) rotateY(0deg);
  -moz-transform: perspective(600px) rotateY(0deg);
  -ms-transform: perspective(600px) rotateY(0deg);
  -o-transform: perspective(600px) rotateY(0deg);
}

@media screen and (max-width:950px) {
  #bidding {
    height: 1800px;
  }

  .containerBidding {
    width: 90%;
    height: 1800px;
    justify-content: space-evenly;
  }

  .promotionsGallery {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 90%;
  }

  .card {
    cursor: pointer;
    width: 90%;
    height: 240px;
  }
}