#footer {
  background: #0d421b;
  padding: 60px 0 4px 0;
  margin: auto;
  overflow: hidden;
  height: 500px;
}

.contenedorFooter {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  height: 400px;
}

.contentenidoFooter {
  text-align: center;
  width: 20%;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 240px;
}

.contentenidoFooter h3 {
  color: white;
  font-size: 30px;
  font-family: 'Cinzel', serif;
  margin-bottom: 60px;
  font-weight: bolder;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f5021;
}

.contentenidoFooter p,
.contentenidoFooter a {
  font-size: 20px;
  color: white;
  padding-bottom: 6px;
}

.contentenidoFooter a:hover {
  background-color: #2ecc55;
}

.firma {
  text-align: center;
  font-size: 14px;
  margin: 10px 0 0 0;
  color: white;
  border-top: 1px solid white;
}

.cash {
  height: 70px;
  width: 70px;
}

.mp {
  height: 44px;
}

.contentWpp {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 36%;
}

.efectivo {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

@media screen and (max-width:950px) {
  #footer {
    height: 1000px;
    padding-top: 10px;
  }

  .contenedorFooter {
    height: 92%;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: none;
  }

  .contentenidoFooter {
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .redes {
    height: 70%;
  }

  .contentenidoFooter h3 {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 10px;
    height: 36px;
  }

  .contentenidoFooter p,
  .contentenidoFooter a {
    font-size: 16px;
  }

  .firma {
    font-size: 12px;
    margin: 50px 0 0 0;
  }

  .cash {
    height: 60px;
    width: 60px;
  }

  .mp {
    height: 30px;
  }

  .contentWpp {
    margin-bottom: 10px;
    justify-content: center;
  }

  .efectivo {
    transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    -o-transform: translateY(-16px);
  }
}
