#header {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  background: white;
  z-index: 1;
}

.links {
  width: 90%;
  height: 80%;
  padding: 0;
  display: flex;
  align-items: center;
}

ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.item {
  font-size: 20px;
  margin: 0 12px;
}

.item a {
  color: black;
}

.containerBurger {
  height: 80%;
  width: 4%;
  display: none;
  cursor: pointer;
}

.burger {
  width: 100%;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 4px;
  transition: all 0.5s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.containerLogo {
  width: 14%;
  height: 80%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 90%;
}

@media screen and (max-width:950px) {
  #header {
    flex-direction: column;
    padding: 10px 0px;
  }

  .links {
    width: 100%;
    height: 50%;
    order: 2;
  }

  ul {
    justify-content: space-between;
  }

  .item {
    margin: 0 4px;
  }

  .containerLogo {
    width: 40%;
    height: 50%;
    order: 1;
  }

  .logo {
    height: 120%;
  }
}


@media screen and (max-width:650px) {
  #header {
    flex-direction: row;
    padding: 0px 0px;
    height: 80px;
  }

  .links {
    position: fixed;
    left: 0;
    top: 70px;
    height: 90%;
    width: 60%;
    transform: translateX(-100px);
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
  }

  .sidebar {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    z-index: 1;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 40px;
    background: white;
    z-index: 1;
  }

  .containerBurger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    padding-left: 10%;
  }

  .logo {
    height: 140%;
  }

  .dark {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
  }
}