#home {
  padding: 0;
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 900px;
  background-repeat: no-repeat;
  background-position-x: center;
  background: #ffffff;
  background: linear-gradient(to Right, #ffffff, hsla(0, 0%, 100%, 0.219)), url(../img/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerHome {
  padding: 0;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerTitleHome {
  height: 46%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleHome {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}

.containerSlogan {
  height: 20%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan {
  font-size: 44px;
}

.containerButtonHome {
  height: 30%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.down {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}

.down span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  animation: animate 1.6s linear infinite;
  opacity: 0;
  outline: none;
  -webkit-animation: animate 1.6s linear infinite;
}

.down span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.down span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.down span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }

  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }

  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

.enter {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  width: 50%;
  margin-top: 14px;
}

@media screen and (max-width:950px) {
  .titleHome {
    font-size: 64px;
    line-height: 80px;
  }

  .slogan {
    font-size: 26px;
  }

  .enter {
    font-size: 28px;
  }
}

@media screen and (max-width:650px) {
  #home {
    height: 760px;
  }

  .titleHome {
    font-size: 50px;
  }

  .slogan {
    font-size: 22px;
  }

  .enter {
    font-size: 24px;
  }
}